<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
<title>分类列表</title>
<style>
    td{
      border:1px solid #eee;
    }
    table{
    background: #fff;
  }
</style>
</head>
<body style="background:#b5d6e3;">
<h1 class="text-center">分类列表</h1>
<table class="table table-hover">
    <thead>
        <tr class="info">
            <td width="20%">分类名称</td>
            <td width="20%">商品数量</td>
            <td width="40%">分类说明</td>
            <td width="20%">操作</td>
        </tr>
    </thead>
    <tbody>
        <?php foreach($catlist as $v) { ?>
        <tr align="left" class="0" id="0_1" id = 'tr_4'>
            <td align="left" class="first-cell" style = 'padding-left="1"'>
                <img src="../view/admin/image/menu_minus.gif" width="9" height="9" border="0" style="margin-left:<?php echo $v['lev']*2; ?>em" />
                <span><a href="#" ><?php echo $v['cat_name']; ?></a></span>
            </td>
            <td>1</td>
            <td><?php echo $v['intro']; ?></td>
            <td >         
                <a href="catedit.php?cat_id=<?php echo $v['cat_id'];?>" title="修改">
                    <img src="../view/admin/image/icon_edit.gif" width="16" height="16" border="0" />
                </a>      
                <a href="#"  title="删除">
                    <img src="../view/admin/image/icon_trash.gif" width="16" height="16" border="0" />
                </a>          
            </td>
        </tr>
        <?php } ?>

    </tbody>
</table>
</body>
</html>