<!DOCTYPE html>
<html lang="en">
<head>
<head>
<title>倩倩倩的书店管理中心</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<frameset rows="150em,*" framespacing="0" border="0">
    <frame src="top.php" id="header-frame" name="header-frame" frameborder="no" scrolling="no">
	    <frameset cols="180em,10em,*" framespacing="0" border="0" id="frame-body">
	    <frame src="left.php" id="menu-frame" name="menu-frame" frameborder="no" scrolling="no">
	    <frame src="drag.php" id="drag-frame" name="drag-frame" frameborder="no" scrolling="no">
	    <frame src="main.php" id="main-frame" name="main-frame" frameborder="no" scrolling="yes">	    	    	    
    </frameset>
</frameset>
</head>
<body style="background:#208280">
</body>
</html>