<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../lib/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../view/front/css/column.css">
<title>栏目</title>
</head>
<body>
<!-- navbar -->
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>

        </button>
        <a class="navbar-brand" id="logo">
            <img src="../view/front/image/logo.png" alt="logo" class="img-circle">
        </a>
    </div>
    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a href="index.php" class="nav-link"><span class="glyphicon glyphicon-home"></span> 书店首页</a>
            </li>
            <?php 
            if(isset($_SESSION['username']) && !empty($_SESSION['username'])) { ?>
            <li class="nav-item">
                <a href="cart.php" class="nav-link"><span class="glyphicon glyphicon-shopping-cart"></span> 购物车</a>
            </li>
            <li class="nav-item">
                <a href="user.php" class="nav-link"><span class="glyphicon glyphicon-user"></span> 个人中心</a>
            </li>
            <li class="nav-item">
                <a href="logout.php" class="nav-link"><span class="glyphicon glyphicon-log-out"></span>  退出</a>
            </li>
            <?php } else { ?> 
            <li class="nav-item">
                <a href="log_in.php" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> 登录</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link"><span class="glyphicon glyphicon-edit"></span> 注册</a>
            </li> 
            <?php } ?>        
        </ul>
    </div>
</nav>
<!-- 书店及搜索 -->
 <!--书店及搜索  -->
<div  class="container">
    <!-- 书店 -->
    <div id="title">
        <span id="wel">书店</span>
    </div>
    <!-- 搜索框 -->
    <div id="search">
        <form action="search.php?sort=search" method="post">
            <div id="">
                <div class="input-group">
                    <input type="text" name="keyword" placeholder="输入书名作者简介等相关信息快速搜索"  class="form-control input-lg">
                    <div class="input-group-addon">
                        <a href="#">
                            <span class="glyphicon">
                                <input id="btn" type="submit" name="search" value="搜索" style="border:0px;">
                            </span>
                        </a>
                    </div>              
                </div>
            </div>
            <!-- 关键字 -->
            <div id="keywods">
                &nbsp;&nbsp;热门关键字：
                <a href="detail.php?book_id=1">我们仨</a>,&nbsp;&nbsp;
                <a href="column.php?cat_id=1">文学</a>,&nbsp;&nbsp;
                <a href="search.php?sort=search&keyword=林徽因">林徽因</a>,&nbsp;&nbsp;
                <a href="search.php?sort=search&keyword=傻逼">傻逼</a>,&nbsp;&nbsp;
                <a href="search.php?sort=search&keyword=倩姐出版社">倩姐出版社</a>&nbsp;&nbsp;
            </div>
           
        </form>
        <hr>
    </div>

</div>

<!-- 分类 -->
<div class="container">
    <!-- 左边——分类列表 -->
    <div id='info'>
        <div class="lib_top">书籍分类</div>
        <div> 
            <ul style="list-style:none;">
                <?php foreach($sort as $c) { ?>
                <li>
                <img src="../view/admin/image/menu_minus.gif" width="9" height="9" style="margin-left:<?php echo $c['lev'];?>em" />
                    <a href="column.php?cat_id=<?php echo $c['cat_id'];?>">
                        <?php echo $c['cat_name'];?>
                    </a>
                </li>
                <?php } ?>
            </ul>
        </div>
        
    </div>
    <!-- 右边 -->
    <div id="main">
        <!-- 面包屑导航 -->
        <div>
            <ol class="breadcrumb">
                &nbsp;&nbsp;&nbsp;&nbsp;当前位置：
                <li><a href="index.php">首页</a></li>
                    <?php foreach($nav as $c) { ?>
                <li>
                    <?php echo $c['cat_name'];?>
                </li>
                    <?php } ?>
                
            </ol>
        </div>
        <!-- 搜索bar -->
        <div id="sortbar">
            <div id="sort" >
                <ul class="nav nav-tabs" >
                    <!-- 作者分类 -->
                    <li><a>
                        <select id="sorts" class="input-sm" name="kind" onchange="window.location=this.value">
                            <option seselected="selected" value="search.php">所有作者</option>
                            <?php foreach ($aulist as $au) { ?>
                            <option value="search.php?sort=author&author=<?php echo $au['author'];?>" <?php echo $au['author'] ==$_GET['author']?"selected":''?> >
                                <?php echo mb_substr($au['author'],0,3,'UTF-8'),'...'; ?>           
                            </option>
                           <?php } ?>
                        </select></a>
                    </li>
                    <!-- 价格 排序 -->
                    <li><a>
                        <select id="sorts" class="input-sm" onchange="window.location=this.value">
                            <option value="" seselected="selected">本站价格</option>
                            <option value="search.php?sort=mj" <?php echo $_GET['sort']=='mj'?"selected":''?>>价格由高到低</option>
                            <option value="search.php?sort=ms" <?php echo $_GET['sort']=='ms'?"selected":''?>>价格由低到高</option>
                        </select></a>
                    </li>
                    <!-- 出版时间排序 -->
                    <li><a>
                        <select id="sorts" class="input-sm" name="timestyle" onchange="window.location=this.value">
                            <option value="">出版时间</option>
                            <option value="search.php?sort=ts" <?php echo $_GET['sort']=='ts'?"selected":''?>>出版时间由远到近</option>
                            <option value="search.php?sort=tj" <?php echo $_GET['sort']=='tj'?"selected":''?>>出版时间由近到远</option>
                        </select></a>
                    </li>
                    </form>
                    <div class="total_book">共<span style="font-size:1.2em;color:red"><?php echo $total ;?></span>本相关</div>
                </ul>
            </div>
        </div>
        <!-- 具体书 -->
        <div class="book container">
            <div class="row">
            <?php foreach($goodslist as $g) { ?>
                <div class="col-md-4 col-sm-4 col-xs-5">
                    <div class="thumbnail bookBor">
                        <a href="detail.php?book_id=<?php echo $g['book_id']; ?>">
                            <img src="../<?php echo $g['thumb_img'];?>" alt="<?php echo $g['book_name'];?>">
                        </a>
                        <div class="name_book">
                            <a title="<?php echo $g['book_name']; ?>" href="detail.php?book_id=<?php echo $g['book_id']; ?>">
                                <h4><?php echo mb_substr($g['book_name'],0,7,'UTF-8'),'...'; ?></h4>
                            </a> 
                            <p>市场价:<span class="market_price">￥<?php echo $g['market_price']; ?></span></p>
                            <p>本店价:<span class="shop_price">￥<?php echo $g['shop_price']; ?></span></p>
                        </div>
                    </div>
                </div>
            <?php } ?>
        </div>
        <!-- 分页 -->
        <div class="text-center" style="clear:both;font-size:2em;">
            <?php echo $pagecode;?>
        </div>
    </div>
</div>

<?php include(ROOT . 'view/footer.html'); ?>
</body>

</html>