<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="../view/front/image/logo.png">
<link rel="shortcut icon" href="/blog/public/favicon.png">
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="../lib/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../view/front/css/order.css">
<link rel="stylesheet" href="../lib/bootstrap/css/bootstrap-float-label.css"/> 
<title>登录</title>
</head>
<body style="background: #fff;">
<!-- 导航条 -->
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>

        </button>
        <a class="navbar-brand" id="logo">
            <img src="../view/front/image/logo.png" alt="logo" class="img-circle">
        </a>
    </div>
    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a href="index.php" class="nav-link"><span class="glyphicon glyphicon-home"></span> 书店首页</a>
            </li>
            <li class="nav-item active">
                <a href="#" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> 登录</a>
            </li>
            <li class="nav-item">
                <a href="reg.php" class="nav-link"><span class="glyphicon glyphicon-edit"></span> 注册</a>
            </li>         
        </ul>
    </div>
</nav> 

<!-- 登录框 -->
<main>
    <div class="htmleaf-container" id="contact">
        <div class="form-container" >
            <form class="well center-block" style="max-width: 35rem;" action="log_in.php" method="post" name="form1">
                <legend class="text-center">登 录</legend>
                <div class="form-group input-group">
                    <span class="input-group-addon">用户名</span>
                    <span class="has-float-label">
                        <input class="form-control" name="username" type="text" placeholder="请填写正确的用户名" value="<?php echo $remuser; ?>" />
                        <label for="name">name</label>
                    </span>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">密码&nbsp;&nbsp;&nbsp;</span>
                    <span class="has-float-label">
                        <input class="form-control" name="passwd" type="password" placeholder="*******"  value="<?php echo $rempasswd; ?>"/>
                        <label for="password">password</label>
                    </span>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">验证码</span>
                    <span class="has-float-label">
                        <input class="form-control" name="verification" id="verification" type="text" placeholder="4为验证码"/>
                        <label for="verification">verification</label>
                    </span>
                </div>
                <div class="text-center" style="margin-bottom:1em">
                    <img src="../tool/cap.php" alt="">                     
                    <a class="btn btn-sm" id="cap" >看不清换一张</a>
                </div>
                <div  style="float:left">
                    <input type="radio" name="iden" value="user" checked="user">用户登录
                    <input type="radio" name="iden" value="admin">管理员登录
                </div>
                <div style="float:right">
                    <input type="checkbox" id="remember" name="remember" value="1">
                    <label for="remember">记住密码</label>
                </div>
                <input type="hidden"  name="act" value="act_login">
                <input class="btn btn-success btn-block"  type="submit" id="sub" value="登录">     
            </form>
        </div>
    </div>
</main>

<?php include(ROOT . 'view/footer.html'); ?> 


<script>
     // submit
    document.getElementById('sub').onmouseover=function(){
        this.style.background='#fff';
        this.style.color="green";
    }
    document.getElementById('sub').onmouseout=function(){
        this.style.background='#98dda3';
        this.style.color="#494a5f";
    }
    // 验证码
    document.getElementById('cap').onclick=function(){
        /*如果不强制的改变地址。则因为缓存无法重新加载05.php*/
        document.getElementsByTagName('img')[1].src='../tool/cap.php?'+Math.random();
    }

</script>
</body>
</html>

