<style>
  {}
  /*logo大小*/
  #logo >img{
    width: 50px;
    height: 50px;
  }
  /*logo位置*/
  .navbar-brand{
    padding-top:0px;
    padding-left: 30px;
  }
  /*欢迎您*/
  #wel{
  	color: #eee;
	  font-size: 5em;
  }
  #title{
    padding-left: 6em;
	  text-shadow: 1px 1px 0 #f96,-1px -1px 0 #f96;
    float: left;
  }
  /*搜索框*/
  #search{
    float: left;
    width: 60%;
    padding:2em 5em;
  }
  /*关键字*/
  #keywods{
    font-size: 1.3em;
    padding-top: 0.2em;
    font-weight: bold;
  }
  #keywods>a:hover{
    color: red;
    text-decoration: none;
  }
  /*分类*/
  #info{
    float: left;
    border:1px solid #999;
    width: 25%;
    overflow: hidden;
  }
  #main{
    float: left;
    width: 75%;
  }
  .lib_top{
    background: #565662;
    color: #fff;
    font-size: 1.3em;
    text-align: center;
  }
  #info>div>ul>li>a{
    color: #170c19;
    font-size: 1.2em;
    font-weight: bold;
  }
  #info>div>ul>li>a:hover{
    color: red;
    text-decoration: none;
  }
  #sortbar{

    background: #eee;
  }

  #pagination{
    background: #eee;
  }
    /*书*/
  .name_book>a:hover{
    color:red;
    text-decoration: none;
  }
  .bookBor:hover{
    border:0.5px solid #9c6c7f;
  }
  .book{
    padding-top: 1em;
    float:left;width:100%
  }
    .shop_price{font-size:1.3em;color:red}/*本店价*/
    .name_book{margin-left:3em;}
    .total_book{float:right;padding:1em 2em}/*共多少本书*/
  /*平板*/
  @media(max-width: 960px){
    #title,.info{display: none}/*个人信息 ,书店标题字样*/
   
    .name_book{margin-left: 0.5em;}/*总的书*/
    .name_book h4{font-size: 1em;}
    #search{width: 100%}
    .total_book{padding:1em 0.5em;}/*共多少本书*/

  }

   /*手机*/
  @media (max-width: 480px) {
    #keywods{display: none}
    .input-group{position: absolute;left:10%;width: 80%;}
    .input-lg{font-size: 0.5em;text-align: center;}/*input中的提示文字*/
    
    #info,#sortbar{display: none;}
    #main{width: 100%;}
  }

 </style>