<style>
{}

  /*logo大小*/
  #logo >img{
    width: 50px;
    height: 50px;
  }
  /*logo位置*/
  .navbar-brand{
    padding-top:0px;
    padding-left: 30px;
  }
  /*欢迎您*/
  #wel{
  	color: #eee;
	  font-size: 5em;
  }
  #title{
    padding-left: 6em;
	  text-shadow: 1px 1px 0 #f96,-1px -1px 0 #f96;
    float: left;
  }
  /*搜索框*/
  #search{
    float: left;
    width: 60%;
    padding:2em 5em;
  }
  /*关键字*/
  #keywods{
    font-size: 1.3em;
    padding-top: 0.2em;
    font-weight: bold;
  }
  #keywods>a:hover{
    color: red;
    text-decoration: none;
  }


  #name{
  	font-weight: bold;
  	font-size: 2.5em;
  	color: #000;
  }
  .des{
  	color: #999;
    font-size: 1.2em;
    text-align: left;
    font-weight: bold;
    padding-right: 1em;
  }
  #shop{
  	color: red;
  	font-size: 2em;
  }
  #market{
  	font-size: 1.2em;
  	text-decoration:line-through; 
  }
  #message{
  	height: 10em;
  	overflow: hidden;
  	color: #000;
  	
  }
      .lib_top{
        background: #565662;
        color: #fff;
        font-size: 1.3em;
        text-align: center;
    }
    #history{
        border:1px solid #999;
        overflow: hidden;
        height:18em;
        float:right;width:15%
    }
    #history a:hover{
        text-decoration: none;
        color:red;
    }
    #picture{
        float: left;
        width: 30%;
    }
    #details{
        float:left;
        width: 40%;
    }
    .total_price{float:left;padding:2em 2em;}
    .put_cart{padding:2em;float:right}
    /*平板*/
  @media(max-width: 960px){
    #title,.info{display: none}/*个人信息 ,书店标题字样*/
   
    #search{width: 100%}
    #history{display: none}/*浏览历史*/
    #picture{width: 50%;}/*书图片*/

  }

   /*手机*/
  @media (max-width: 480px) {
    #keywods{display: none}/*热门关键字*/
    .input-group{position: absolute;left:10%;width: 80%;}
    .input-lg{font-size: 0.5em;text-align: center;}/*input中的提示文字*/
    #details{clear: both;width: 100%;}
    .total_price{padding:2em 0.5em}
    .put_cart{padding-top:1em;}

    
    
  }
</style>