<style>
  {}
  *{padding: 0; margin: 0}
  /*logo大小*/
  #logo >img{
    width: 50px;
    height: 50px;
  }
  /*logo位置*/
  .navbar-brand{
    padding-top:0px;
    padding-left: 30px;
  }
  /*欢迎您*/
  #wel{
  	color: #eee;
	  font-size: 5em;
  }
  #title{
    padding-left: 6em;
	  text-shadow: 1px 1px 0 #f96,-1px -1px 0 #f96;
    float: left;
  }
  /*搜索框*/
  #search{
    float: left;
    width: 60%;

  }
  /*搜索二字*/
  #btn{
    border:0px; 
    padding: 0.6em 0.4em
  }
  /*热门关键字*/
  #keywods{
    font-size: 1.3em;
    line-height: 3em;
    font-weight: bold;
    line-height:3em;
    border-bottom:
    1px dotted #999;

  }
  #keywods>a:hover{
    color: red;
    text-decoration: none;
  }  
  /*整个轮播图的大小*/
  #myCarousel{
    width: 65%;
    float: left;
  }
  .info{
    float: left;
    border:1px solid #999;
    margin-bottom: 5em;
    border-radius:0.5em;margin-left:1em;
  }

  .lib_top{
    background: #565662;
    color: #fff;
    font-size: 1.3em;
    text-align: center;
  }
  .new_book{
    border: 1px solid #eee;
    padding-top: 1em;
  }
  .new_word{
    font-size: 3em;
    font-weight: bold;
    color: #999;
    padding-left: 1em;
  }
  .more{
    float: right;
    padding-top: 1em;
  }
  .more> a,.caption> a{
    color: #000;
    text-decoration: none;
  }
  .more> a:hover , .caption> a:hover{
    color: red;
    text-decoration: none;
  }


  /*注意事项*/
  .info ul{padding:0.7em 2em;}
  .info li {cursor: pointer;}
  .info li:hover{color:#f00;}
  .info li:first-child{color:#f00;}
  /*书*/
  .name_book{/*下面字体*/

    white-space:nowrap; /* 不换行 */
    overflow:hidden;    /* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis; /* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
  }
  .name_book>a:hover{
    color:red;
    text-decoration: none;
  }
  .name_book{margin-left:3em;}
  .bookBor:hover{border:0.5px solid #9c6c7f;}
  .shop_price{font-size:1.3em;color:red}/*本店价*/
  .market_price{text-decoration:line-through;}/*市场价*/
  .myCarousel img{width: 1242px;height: 544px;}

  /*平板*/
  @media(max-width: 960px){
    #title,.info{display: none}/*个人信息 ,书店标题字样*/
    #myCarousel,#search{width: 100%}/*轮播图，搜索区*/
    .name_book{margin-left: 0.5em;}
    .name_book h4{font-size: 1em;}
    #search{padding-bottom: 0.2em;padding-top:0em;}

  }

  /*手机*/
  @media (max-width: 480px) {
    #keywods{display: none}
    .input-group{position: absolute;left:10%;width: 80%;}
    .input-lg{font-size: 0.5em;text-align: center;}/*input中的提示文字*/
    #search{margin-bottom: 1.2em;padding-top:0em;}
  }



</style>