<style>
    .fixed-bottom {position: fixed;bottom: 0;width:100%;}
    footer{background: #bfd7d9;clear:both;text-align: center;}
    .author_info span {font-size: 1.5em; font-weight: bold;}
    .author{font-size: 2em; font-weight: bold;}
    @media(max-width:480px) {
        .author_info{font-size: 0.8em}
        .author{font-size: 1.2em;}
    }
</style>
<footer>
    <div class="author">
        Copyright © 2016 倩倩倩倩
    </div>
    <div class="author_info">
        <span>求职方向:</span> PHP / 前端<br>
        <span>工作地点:</span> 上海 / 深圳 / 杭州 / 成都 / 重庆 <br>
        <p>
            <span>Email</span>:qqqian0819@gmail.com &nbsp;/ &nbsp;245013296@qq.com&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
            <span>QQ</span>:245013296&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
            <span>Tel</span>:18983425884
        </p>
    </div>
</footer>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
    //设置footer距离顶部的高度的高度
    $(function(){
    function footerPosition(){
        $("footer").removeClass("fixed-bottom");
        var contentHeight = document.body.scrollHeight,//网页正文全文高度
            winHeight = window.innerHeight;//可视窗口高度，不包括浏览器顶部工具栏
        if(!(contentHeight > winHeight)){
            //当网页正文高度小于可视窗口高度时，为footer添加类fixed-bottom
            $("footer").addClass("fixed-bottom");
        } else {
            $("footer").removeClass("fixed-bottom");
        }
    }
    footerPosition();
    $(window).resize(footerPosition);
});
</script>